<div class="row">
    <div class="col-md-8">
        <h1 class="my-4">Do Payment</h1>
         <div class="col-sm-4">
            <div class="card mb-4">
                <div class="card-body">
                    <a href="/payment" class="btn btn-primary btn-lg">Payment</a>
                </div>
            </div>
        </div>
    </div>
</div>