<form action="../fileReader/qrFileReader" method="post" enctype="multipart/form-data">
<div class="form-group">
    <br></br>
    <div class="row">
        <div class="form-group">
            <input type="file" name="file" class="form-control" >
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>
</form>